.misc-airdop {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 auto !important;
  width: 80% !important;
}

.social-icons-wrapper {
  color: #fff;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.date-wrapper span {
  border-radius: 5px;
  color: #fff;
  height: 50px;
  margin-bottom: 30px;
  margin-left: 20px;
  padding: 10px 7px;
  width: 75px px;
  display: flex;
  background-color: rgba(147, 51, 234, 1);
}

.date-wrapper span h5 {
  padding: 0 2px;
}

@media screen and (max-width: 855px) {
  #referrals {
    width: 90% !important;
    margin: 80px auto !important;
  }
}

.text-base {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}


.app-trade__item {
  /* padding: 1rem 1rem 2rem; */
  margin-top: 20px;
  border-radius: 1rem;
  background: linear-gradient(rgba(255, 255, 255, 0.1) 0%,
  rgba(255, 255, 255, 0.05) 100%);
box-shadow: rgb(0 0 0 / 20%) 0px 10px 20px;
backdrop-filter: blur(27.1828px);
transition: 0.5s;
}

.app-trade__itemss {
  /* padding: 1rem 1rem 2rem; */
  margin-top: 20px;
  border-radius: 1rem;
  background: linear-gradient(rgba(255, 255, 255, 0.1) 0%,
  rgba(255, 255, 255, 0.05) 100%);
box-shadow: rgb(0 0 0 / 20%) 0px 10px 20px;
backdrop-filter: blur(27.1828px);
transition: 0.5s;
}